@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Open Sans', sans-serif;
}



.home-banner {
  background-image: url('https://i.ibb.co/kmNxP8L/backgroud-for-banner.jpg');
}


.pagination {
  text-align: center;
  margin: 12px;
}

.pagination button {
  margin: 12px;
  border: 1px solid black;
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 4px;
}


.pagination .selected {
  background-color: #4ADE80;
  color: black;
  font-weight: 800;
  border: none;
}